<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Values</title>

    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<H1>ADD QUEUE AMOUNT</H1>

<center>
    <form action="/savedetails" method="POST">
        <p>
            <input type="text" name="amba"  placeholder="Amb id" size="100"><br><br>
            <input type="text" name="queue_id"  size="100" placeholder="Queue id"><br><br>
            <input type="text" name="amount" placeholder="Amount" size="100"><br><br>
            <input type="text" name="task_counter"  placeholder="Task Counter" size="100"><br><br>
            <input type="text" name="state"  placeholder="State" size="100"><br><br>
            <input type="text" name="reason"  placeholder="Reason" size="100"><br><br>

        </p>
            <input type="submit" value="Submit">

    </form>
</center>

</body>
</html>