<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Queue</title>
</head>
<body>

<center>
     <a href="/"  role="button" aria-pressed="true">Home</a><br>
    <form action="/deletedetails" method="POST">
        <p>
            <H1>Enter the Ambassador Id and Queue id to delete</H1>
            <input type="text" name="amba"  size="100" placeholder="Amba Id">
            <input type="text" name="queue_id"  size="100" placeholder="Queue id">


        </p>
            <input type="submit" value="Submit">

    </form>
</center>
</body>
</html>